In [1]:
import pandas as pd 
import numpy as np

In [11]:
mercedes = pd.read_csv('Krish- Python Crash Course\\mercedesbenz.csv', usecols=['X1','X2','X3','X4','X5','X6'])
mercedes

     X1  X2 X3 X4  X5 X6
0     v  at  a  d   u  j
1     t  av  e  d   y  l
2     w   n  c  d   x  j
3     t   n  f  d   x  l
4     v   n  f  d   h  d
...  ..  .. .. ..  .. ..
4204  s  as  c  d  aa  d
4205  o   t  d  d  aa  h
4206  v   r  a  d  aa  g
4207  r   e  f  d  aa  l
4208  r  ae  c  d  aa  g

[4209 rows x 6 columns]

In [7]:
mercedes.X1.unique()

array(['v', 't', 'w', 'b', 'r', 'l', 's', 'aa', 'c', 'a', 'e', 'h', 'z',
       'j', 'o', 'u', 'p', 'n', 'i', 'y', 'd', 'f', 'm', 'k', 'g', 'q',
       'ab'], dtype=object)

In [10]:
for col in mercedes.columns:
    print(col,": ",len(mercedes[col].unique()))

X1 :  27
X2 :  44
X3 :  7
X4 :  4
X5 :  29
X6 :  12

In [ ]:
pd.get_dumies(data, drop_first=True)