In [71]:
import pandas as pd
import numpy as np

In [136]:
Play_Date = pd.read_excel('C:\\Users\\chpra\\Downloads\\whatsapp\\t\\1. Students File.xlsx',sheet_name='2 (2)',header=1, usecols=['Play Number','Actress', 'Date', 'Play Timing'], index_col='Play Number')
Play_Date

             Actress  Date  Play Timing
Play Number
1               Ashi  2016            9
2               Ashi  2016            7
3              Swati  2015            7
4               Ashi  2017            9
5              Jyoti  2016            7
6              Swati  2016            9
7              Richa  2016            8
8              Richa  2017            8
9             Kavita  2015            9
10              Ashi  2017            9
11            Shipra  2016            8
12              Ashi  2016            9
13             Anika  2015            7
14             Richa  2015            9
15             Jyoti  2015            8
16            Shipra  2016            9
17             Richa  2017            8
18           Ritisha  2017           10

In [46]:
Play_Date.loc[(Play_Date.Date == 2015) | (Play_Date.Date == 2017)]

             Actress  Date  Play Timing
Play Number
3              Swati  2015            7
4               Ashi  2017            9
8              Richa  2017            8
9             Kavita  2015            9
10              Ashi  2017            9
13             Anika  2015            7
14             Richa  2015            9
15             Jyoti  2015            8
17             Richa  2017            8
18           Ritisha  2017           10

In [78]:
Play_Date.Actress.value_counts()

Ashi       5
Richa      4
Shipra     2
Jyoti      2
Swati      2
Anika      1
Ritisha    1
Kavita     1
Name: Actress, dtype: int64

In [92]:
Play_Date.loc[Play_Date.Actress == 'Ashi'][(Play_Date.Date == 2015) | (Play_Date.Date == 2017)]

C:\Users\chpra\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

            Actress  Date  Play Timing
Play Number
4              Ashi  2017            9
10             Ashi  2017            9

In [115]:
c = 0
for i in Play_Date[Play_Date.Date == 2017].Actress:
    
    if i[0] == 'A':
        c += 1
print(c)

2

In [133]:
t = Play_Date[Play_Date.Date == 2016]
t[t['Play Timing'] == 8]

            Actress  Date  Play Timing
Play Number
7             Richa  2016            8
11           Shipra  2016            8

In [135]:
Play_Date[Play_Date['Play Timing'] >= 8]

             Actress  Date  Play Timing
Play Number
1               Ashi  2016            9
4               Ashi  2017            9
6              Swati  2016            9
7              Richa  2016            8
8              Richa  2017            8
9             Kavita  2015            9
10              Ashi  2017            9
11            Shipra  2016            8
12              Ashi  2016            9
14             Richa  2015            9
15             Jyoti  2015            8
16            Shipra  2016            9
17             Richa  2017            8
18           Ritisha  2017           10

In [137]:
Play_Date[]

Play Number
1     2016
2     2016
3     2015
4     2017
5     2016
6     2016
7     2016
8     2017
9     2015
10    2017
11    2016
12    2016
13    2015
14    2015
15    2015
16    2016
17    2017
18    2017
Name: Date, dtype: int64

             Actress  Date  Play Timing
Play Number
1               Ashi  2016            9
2               Ashi  2016            7
3              Swati  2015            7
4               Ashi  2017            9
5              Jyoti  2016            7
6              Swati  2016            9
7              Richa  2016            8
8              Richa  2017            8
9             Kavita  2015            9
10              Ashi  2017            9
11            Shipra  2016            8
12              Ashi  2016            9
13             Anika  2015            7
14             Richa  2015            9
15             Jyoti  2015            8
16            Shipra  2016            9
17             Richa  2017            8
18           Ritisha  2017           10

In [10]:
a = 9

In [11]:
print(a)

9

In [ ]:
df = pd.read_excel()

In [24]:
8 == 9

False

In [25]:
9 == 9

True